@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Lacquer&family=Lobster&family=Lobster+Two&family=Open+Sans:wght@300;400&family=Oswald:wght@200..700&family=Poppins:wght@300&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;500&family=Rubik&family=Zilla+Slab:wght@500&display=swap');


* {  
    background: rgb(20, 20, 20);
    color: white;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 5px;
}

/*Stylisation du header*/

/*On vien tout le header*/

.position-fixed-header {
    position: fixed; /* Fixe le header */
    top: 0; /* Position en haut */
    left: 0; /* Position sur toute la largeur */
    width: 100%; /* Prend toute la largeur de l'écran */
    z-index: 1000; /* Assure qu'il est au-dessus des autres éléments */
    background: rgb(20, 20, 20); /* Maintient le fond sombre */
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-size: 14px;
}

/*On vien styliser la div qui contient la div du logo et de la list du header */

.all-LogoAndList {
    display: flex;
    list-style: none;
    text-decoration: none;
    text-align: center;
    align-items: center;
    gap: 40px;
}

.i {
    cursor: pointer;
}

/*On vien styliser la div qui contient le logo dans le header*/

.container-logo {
    text-align: center;
    align-items: center;
}

.container-logo img {
    width: 100px;
}

/*On vien styliser la div qui contient la liste dans le header*/

.container-header-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.search-bar {
    display: none;
    width: 300px;
    height: 25px;
    border: 1px solid white;
    border-radius: 5px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="white"><path fill-rule="evenodd" d="M10 9.293l6.646-6.646a.5.5 0 0 1 .708.708L10.707 10l6.646 6.646a.5.5 0 0 1-.708.708L10 10.707l-6.646 6.646a.5.5 0 0 1-.708-.708L9.293 10 2.646 3.354a.5.5 0 1 1 .708-.708L10 9.293z" clip-rule="evenodd"/></svg>') no-repeat center;
    background-size: contain;
    height: 15px;
    width: 15px;
    cursor: pointer;
  }
  

.e {
    color: rgb(240, 26, 26);
    font-weight: bold;;
}

/**/

.container-user {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    gap: 5px;
}

/*Fin de la stylisation du header*/ 

.background-img-pop {
    position: absolute;
    z-index: -100;
}